/* General style */

:root {
    --background: #2D032B;
    --text: #FFFFFF;
}

* {
    margin: 0;
}

/* Header style */

header {
    background-color: var(--background);
    color: var(--text);
}

header h1 {
    padding: 0.5rem;
    text-align: center;
}

/* Main style */

form {
    width: 50%;
    display: grid;
    justify-self: center;
    padding: 0.5rem;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

form * {
    padding: 0.5rem;
}

#productName {
    width: 40%;
}

#installationDate {
    width: 40%;
}

#userName {
    width: 40%;
    margin-bottom: 10px;
}

/* Footer style */

footer {
    background-color: var(--background);
    color: var(--text);
}

footer p {
    padding: 0.5rem;
    text-align: center;
}