:root {
    --primary-color: #D21034;
    --secondary-color: #FFFFFF;
    --card-background: #F6F2EF;
}

body {
    margin: 0;
}

/* Header */
header {
    background-color: var(--primary-color);
    text-align: center;
    color: var(--secondary-color);
    padding: 0.5rem;
}

header h1 {
    margin: 0;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
}

main img {
    width: 100%;
    height: auto;
}

.data {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.data>*:nth-child(odd) {
    text-align: left;
    padding: 0.5rem;
}

.data>*:nth-child(even) {
    text-align: right;
    padding: 0.5rem;
}

.data h2 {
    justify-self: center;
    grid-column: 1 / -1;
}

.weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.weather>*:nth-child(odd) {
    text-align: left;
    padding: 0.5rem;
}

.weather>*:nth-child(even) {
    text-align: right;
    padding: 0.5rem;
}

.weather .title {
    justify-self: center;
    grid-column: 1 / -1;
}

.title img {
    justify-self: center;
    grid-column: 1 / -1;
    width: 75px;
    height: auto;
}

/* Footer */

footer {
    background-color: var(--primary-color);
    text-align: center;
    margin: 0;
}

footer p {
    margin: 0;
    padding: 0.5rem;
    color: var(--secondary-color);
}

/* Media Query */

@media screen and (min-width: 768px) {
    main {
        display: grid;
        grid-template-areas: "hero hero";
    }

    main img {
        grid-area: hero;
    }

    .data {
        position: absolute;
        top: 5rem;
        left: 2rem;
        width: 25%;
        max-width: 300px;
        background-color: var(--card-background);
    }

    .weather {
        position: absolute;
        bottom: 5rem;
        right: 2rem;
        width: 25%;
        max-width: 300px;
        background-color: var(--card-background);
    }
}